<a href="https://colab.research.google.com/github/Esteban-Prince/VDA-CPE-031-CPE21S4/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 2

**Example 1**

In [2]:
import pandas

mydataset = {
    'animals':["Cat","Dog","Rabbit"],
    'height':[13,17,8]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals height
0     Cat     13
1     Dog     17
2  Rabbit      8


**Example 2**

In [10]:
import pandas as pd

a = [1, 7, 2]
b = [2, 3, 4]

myvar = pd.Series(a + b)

print(myvar[5])

4

**Example 3**

In [20]:
import pandas as pd

data = {
  "age": [42, 38, 39],
  "weight": [50, 40, 45]
}

myvar = pd.DataFrame(data)

##print(myvar)
print(myvar.loc[[0, 1]])

   age  weight
0   42      50
1   38      40

**Example 4**

In [53]:
import pandas as pd

s1 = pd.Series([2, 4, 6])
s2 = pd.Series([1, 3, 5])
s3 = pd.Series([0, 11, 13])

dframe = pd.DataFrame([s1, s2, s3])

s4 = ([[5, 10, 15]])

# Option 2: Append as a new row
dframe = dframe._append(s4, ignore_index=True)
print(dframe)

   0   1   2
0  2   4   6
1  1   3   5
2  0  11  13
3  5  10  15

# Challenge

In [ ]:
import pandas as pd

s1 = pd.Series([2, 4, 6])
s2 = pd.Series([1, 3, 5])
s3 = pd.Series([0, 11, 13])
s4 = pd.Series([5, 10, 15])

dframe = pd.DataFrame([s1, s2, s3, s4])

dframe = dframe.drop(index=[0, 1, 3])

print(dframe)